body {
    font-family: "roboto", arial, helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#7f89a598;
}

.title {
    font-family: "comfortaa", arial, helvetica, sans-serif;
    font-size: 50px;
    color:rgb(22, 16, 53);
    text-shadow: 1px 1px 2px rgb(42, 22, 75);
}

button {
    font-family: "roboto", arial, helvetica, sans-serif;
    height: 100px;
    width: 100px;
    font-size: 40px;
    background-color: #1C1B22;
    color:antiquewhite;
    border: none;
    border-radius: 4px;
}

button.symbol {
    color: rgb(122, 178, 224);
}

button#equal {
    color: rgb(236, 104, 115);
}

button:hover {
    background-color: #52525E;
}

.calcContainer {
    display:flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
    background-color: #1C1B22;
    border-radius: 12px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 2px rgb(42, 22, 75);
}

.row {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.displayContainer {
    min-height: 125px;
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #42414D;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
    color: rgb(139, 208, 218);
    word-break: break-all;
}

.output {
    font-size: 80px;
}

.input {
    font-size: 24px;
}